.container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.image {
  object-fit: cover;
  border-radius: 5px;
  margin-top: 40px;
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
}
