.modalContent {
  h3 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-align: center;
  }
  h4 {
    text-align: center;
    color: var(--primary-color);
    text-decoration: underline;
    margin-bottom: 10px;
  }
  p {
    span {
      color: var(--primary-color);
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    > button {
      margin: 0 15px;
    }
    span {
      margin-left: 10px;
    }
  }
  select {
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
    color: var(--gray);
    width: 100%;
    cursor: pointer;
  }
}

.modifySection,
.deleteSection {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px gray;
  .row {
    display: flex;
    justify-content: space-between;
    > button {
      width: 45%;
      margin: 10px;
    }
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 20px;
  }
  span {
    margin-left: 10px;
  }
}

.inputContainer {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  width: 49%;
  label {
    position: absolute;
    background-color: white;
    font-size: 1rem;
    top: -16px;
    padding: 0 5px;
    display: flex;
    color: var(--primary-color);
  }
  input {
    margin-top: 0;
  }
}

.inputSection {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  h4 {
    text-decoration: none;
    position: absolute;
    background-color: white;
    font-size: 1rem;
    top: -16px;
    padding: 0 5px;
  }
  .btnContainer {
    margin-top: 15px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}
