.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    height: 30px;
    border-radius: 5px;
    border: solid var(--secondary-color) 1px;
  }
  button {
    width: 50%;
    padding: 5px 20px;
    border: solid var(--secondary-color) 1px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
  }
  small {
    margin-left: 5px;
  }
}

.error {
  color: red;
}

.message {
  margin: 0;
  padding: 10px;
}
