.container {
  padding: 20px;
}

.modalTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.inputStyle {
  position: relative;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px;
  textarea {
    border: none;
    margin: 0;
  }
  label {
    position: relative;
    bottom: 28px;
    left: 10px;
    background-color: white;
    padding: 5px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.addRate {
  margin-top: 20px;
}

.modalContent {
  h3 {
    margin-bottom: 30px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.5rem;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
