@use "../../../assets/styles/mixin" as mixin;

.container {
  margin: auto;
  margin-top: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixin.breakpoint-laptopS {
    width: 80%;
  }
  @include mixin.breakpoint-tabletteS {
    width: 90%;
  }
  @include mixin.breakpoint-mobileXL {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
  }
  h2 {
    color: var(--primary-color);
    padding: 20px;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    @include mixin.breakpoint-mobileXL {
      border: none;
      color: var(--secondary-color);
      text-align: center;
    }
  }
  p {
    @include mixin.breakpoint-mobileXL {
      margin-block-start: 0;
    }
  }
}

.promotionContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  @include mixin.breakpoint-mobileXL {
    border-radius: 5px;
  }
}

.image {
  object-fit: cover;
  opacity: 0.7;
  border-radius: 10px;
  width: 100%;
  height: 600px;
  @include mixin.breakpoint-mobileXL {
    border-radius: 5px;
    height: 300px;
  }
}

.promotionText {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow: 1px 1px 2px white;
  text-align: center;
  font-size: 3rem;
  margin-block-start: 0;
  margin-inline-end: 0;
  @include mixin.breakpoint-tabletteS {
    font-size: 2.5rem;
  }
  @include mixin.breakpoint-mobileXL {
    font-size: 1.8rem;
  }
  @include mixin.breakpoint-mobileL {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1.2rem;
  align-self: flex-start;
  text-align: center;
}
