@use "../../../assets/styles/mixin" as mixin;

.container {
  margin: auto;
  padding: 30px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mixin.breakpoint-tabletteS {
    padding: 20px;
  }

  @include mixin.breakpoint-mobileL {
    padding: 10px;
  }

  p {
    @include mixin.breakpoint-mobileXL {
      margin-block-start: 0;
    }
  }
}

.onePromotion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px;
}

.title {
  color: var(--primary-color);
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  @include mixin.breakpoint-mobileXL {
    text-align: center;
    font-size: 1.5rem;
  }

  @include mixin.breakpoint-mobileL {
    border: none;
    margin-bottom: 0;
  }
}

.display {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 350px;

  @include mixin.breakpoint-laptopS {
    gap: 30px;
  }

  @include mixin.breakpoint-tabletteM {
    height: 300px;
    gap: 15px;
  }

  @include mixin.breakpoint-mobileXL {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}

.imageContainer,
.content {
  flex: 1 1 50%;
  min-width: 300px;
  box-sizing: border-box;

  @include mixin.breakpoint-mobileXL {
    width: 100%;
  }
}

.image {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  @include mixin.breakpoint-mobileXL {
    border-radius: 5px;
    height: 300px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.promotionText {
  font-size: 2rem;
  margin: 0;
  color: var(--secondary-color);

  @include mixin.breakpoint-tabletteM {
    font-size: 1.6rem;
  }

  @include mixin.breakpoint-tabletteS {
    font-size: 1.4rem;
  }

  @include mixin.breakpoint-mobileXL {
    margin: 15px;
  }
}

.description {
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  line-height: 2;

  @include mixin.breakpoint-tabletteM {
    font-size: 1.2rem;
  }

  @include mixin.breakpoint-mobileXL {
    margin: 15px;
  }
}

.validity {
  margin: 0;

  @include mixin.breakpoint-mobileXL {
    margin-bottom: 15px;
  }
}
