@use "../../../assets/styles/mixin" as mixin;

.container {
  padding: 10px;
  font-size: 1.2rem;
  @include mixin.breakpoint-mobileL {
    padding: 0;
  }
  ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
    @include mixin.breakpoint-mobileL {
      flex-direction: column;
      padding: 0;
    }
    li {
      border-bottom: 1px solid transparent;
      padding: 5px;
      &:hover {
        border-bottom: 1px solid var(--secondary-color);
        @include mixin.breakpoint-mobileL {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  .navlink {
    @include mixin.breakpoint-mobileL {
      display: none;
    }
  }

  .dropdown {
    padding: 0 10px;
  }

  .dropdown,
  .forfaitCard {
    display: none;
    @include mixin.breakpoint-mobileL {
      display: flex;
    }
  }

  /* mobil version */

  .forfaitCard {
    background-color: var(--gray-3);
    .sectionTitle {
      text-align: center;
      margin-top: 30px;
      color: var(--secondary-color);
    }
  }
}
