@use "../../assets/styles/mixin" as mixin;

.container {
  display: flex;
  padding: 20px;
  height: 410px;
  margin-top: 40px;
  margin-bottom: 20px;
  @include mixin.breakpoint-laptopM {
    height: 330px;
  }
  @include mixin.breakpoint-tabletteS {
    padding: 0;
    height: 210px;
  }
  @include mixin.breakpoint-mobileL {
    height: 145px;
  }
}

.picture {
  width: 35%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding-left: 30px;
  @include mixin.breakpoint-mobileXL {
    padding-left: 10px;
  }
  .link {
    cursor: pointer;
  }
}

.title {
  font-size: 2rem;
  color: var(--primary-color);
  @include mixin.breakpoint-tabletteS {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }
  @include mixin.breakpoint-mobileL {
    font-size: 1.2rem;
  }
}

.text {
  font-size: 1.2rem;
  height: 67%;
  text-align: justify;
  overflow: hidden;
  color: var(--gray-1);
  @include mixin.breakpoint-mobileXL {
    font-size: 1rem;
    height: 80%;
  }
  p {
    margin: 0;
    min-height: 29px;
  }
}
