@use "../../assets/styles/mixin" as mixin;

.container {
  display: flex;
  padding: 20px;
  height: 410px;
  margin-top: 40px;
  margin-bottom: 20px;
  @include mixin.breakpoint-laptopM {
    height: 320px;
  }
  @include mixin.breakpoint-tabletteS {
    height: 240px;
  }
  @include mixin.breakpoint-mobileL {
    padding: 0;
    height: 165px;
  }
}

.picture {
  width: 35%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-left: 40px;
  @include mixin.breakpoint-mobileXL {
    padding-left: 10px;
  }
  .link {
    cursor: pointer;
    padding-top: 10px;
    @include mixin.breakpoint-mobileL {
      display: none;
    }
  }
}

.title {
  font-size: 2rem;
  color: var(--primary-color);
  @include mixin.breakpoint-tabletteS {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }
  @include mixin.breakpoint-mobileL {
    font-size: 1.2rem;
  }
}

.text {
  font-size: 1.2rem;
  height: 67%;
  text-align: justify;
  overflow: hidden;
  color: var(--gray-1);
  @include mixin.breakpoint-mobileXL {
    font-size: 1rem;
    height: 80%;
  }
  p {
    margin: 0;
    min-height: 29px;
  }
}
