.container {
  width: 50%;
}

.titleAndPrice {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--gray-1);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}
