@use "../../../assets/styles/mixin" as mixin;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  padding: 40px;
  box-shadow: 0px 5px 5px var(--gray-2);
  @include mixin.breakpoint-mobileXL {
    padding: 20px;
  }
  p {
    font-size: 1.3rem;
    color: var(--gray-1);
    @include mixin.breakpoint-mobileXL {
      font-size: 1.2rem;
    }
  }
}

.title {
  color: var(--primary-color);
  // -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  font-size: 2.5rem;
  @include mixin.breakpoint-mobileXL {
    font-size: 1.8rem;
  }
}

.content {
  article:first-child {
    width: 50%;
    margin: auto;
    padding: 0px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    @include mixin.breakpoint-laptopS {
      width: 70%;
    }
    @include mixin.breakpoint-tabletteS {
      width: 100%;
    }
    section {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      p {
        margin: 0;
        text-align: center;
      }
    }
  }
  article:last-child {
    width: 70%;
    margin: auto;
    @include mixin.breakpoint-tabletteS {
      width: 100%;
    }
  }
  p {
    @include mixin.breakpoint-mobileXL {
      text-align: justify;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  @include mixin.breakpoint-mobileXL {
    width: 70%;
  }
  input {
    height: 30px;
    border-radius: 5px;
    border: solid var(--primary-color) 1px;
  }
  button {
    padding: 5px 20px;
    border: solid var(--primary-color) 1px;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--gray-3);
    cursor: pointer;
    margin-top: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
  }
  small {
    margin-left: 5px;
  }
}

.error {
  color: rgb(215, 69, 69);
}

.message {
  margin: 0;
  padding: 10px;
}

.textGreen {
  color: var(--primary-color) !important;
}

.textRed {
  color: rgb(215, 69, 69) !important;
}

.link {
  color: var(--primary-color);
}
