.container {
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.flower {
  margin: 0 10px;
}

.forfaitStyle {
  background-color: white;
}
