@use "../../../assets/styles/mixin" as mixin;

.container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  @include mixin.breakpoint-laptopS {
    width: 80%;
  }
  @include mixin.breakpoint-tabletteM {
    width: 100%;
  }
  @include mixin.breakpoint-mobileL {
    padding: 10px 0;
  }
  h3 {
    font-weight: 500;
  }
}

.title {
  display: flex;
  align-items: center;
  color: var(--gray-1);
}

.discount {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-left: 20px;
}
