.container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 20px 0;
}

.title {
  display: flex;
  align-items: center;
  color: var(--gray-1);
}

.discount {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-left: 20px;
}
