.menuContainer {
  position: absolute;
  z-index: 2;
  top: 74px;
  right: 0;
  width: 100%;
  background-color: var(--gray-1);
  ul {
    width: 80%;
    .link {
      padding-bottom: 5px;
    }
  }
}

.menu {
  padding: 20px;
  text-align: end;
  font-size: 1.5rem;
}
