@use "../../assets/styles/mixin" as mixin;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-1);
  color: var(--secondary-color);
  padding: 10px;
  border-bottom: 1px solid var(--secondary-color);
  @include mixin.breakpoint-mobileXL {
    justify-content: center;
  }
}

.logo {
  color: var(--secondary-color);
  font-family: "MoonTime", sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: right;
  padding-left: 10px;
  @include mixin.breakpoint-tabletteS {
    font-size: 22px;
  }
}

.navbar {
  font-size: 24px;
  @include mixin.breakpoint-tabletteS {
    font-size: 20px;
  }
  @include mixin.breakpoint-mobileXL {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 10px 15px;
      @include mixin.breakpoint-tabletteS {
        padding: 10px;
      }
      @include mixin.breakpoint-mobileL {
        font-size: 1rem;
      }
      a {
        color: var(--secondary-color);
      }
    }
  }
}

.btnRdv {
  background-color: var(--gray-1);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 24px;
  font-family: var(--font-family);
  height: 50px;
  padding: 0 10px;
}

.btnRdvActive {
  background-color: rgba(220, 190, 108, 0.7);
  a {
    color: rgb(86, 86, 86);
    text-shadow: 1px 1px 1px lightgray;
  }
}

.headerMenuMobile {
  display: none;
  @include mixin.breakpoint-mobileXL {
    display: block;
    position: absolute;
    left: 20px;
    top: 18px;
    background-color: var(--gray-1);
    border: none;
    font-size: 30px;
  }
  .burgerMenu {
    color: var(--secondary-color);
  }
}
