.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  padding: 40px;
  p {
    font-size: 1.3rem;
    color: var(--gray-1);
  }
  box-shadow: 0px 5px 5px var(--gray-2);
}

.title {
  color: var(--primary-color);
  // -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.content {
  article:first-child {
    width: 50%;
    margin: auto;
    section {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      p {
        margin: 0;
      }
    }
  }
  article:last-child {
    width: 70%;
    margin: auto;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  input {
    height: 30px;
    border-radius: 5px;
    border: solid var(--secondary-color) 1px;
    margin-bottom: 10px;
  }
  button {
    height: 30px;
    padding: 5px 20px;
    border: solid var(--secondary-color) 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin: auto;
  }
  small {
    margin-left: 5px;
  }
}

.error {
  color: red;
}

.message {
  margin: 0;
  padding: 10px;
}

.tel,
.mail {
  padding: 5px 20px;
  margin: 20px 40px;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  a {
    color: white;
  }
}
