.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  p {
    font-size: 3rem;
    color: var(--secondary-color);
  }
}

.homeLink {
  font-size: 2rem;
  text-decoration: underline;
}
