.container {
  background-color: var(--gray-1);
  color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  p {
    font-size: 1.5rem;
  }
}

.left,
.right,
.middle {
  width: 33%;
  text-align: center;
}

.left p,
.right p {
  padding-left: 10px;
}

.left,
.right,
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  border-left: solid 2px #e6c229;
  border-right: solid 2px #e6c229;
}

a {
  color: var(--secondary-color);
}

.icon {
  padding: 0 1rem;
  font-size: 3rem;
}
