@use "./../../assets/styles/mixin" as mixin;

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @include mixin.breakpoint-mobileL {
    padding: 0;
  }
}

.content {
  width: 70%;
  margin: auto;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  @include mixin.breakpoint-mobileL {
    display: none;
  }
}

.contentMobile {
  display: none;
  text-align: center;
  padding: 0 20px;
  @include mixin.breakpoint-mobileL {
    display: flex;
  }
}
