.container {
  input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    &:focus {
      outline: none;
      border: 2px solid var(--primary-color);
    }
  }
}
