body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}

.active {
  border-bottom: solid 1px var(--secondary-color);
}
