@use "../styles/mixin" as mixin;

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}

.active {
  border-bottom: solid 1px var(--secondary-color);
  @include mixin.breakpoint-mobileXL {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
  }
  @include mixin.breakpoint-mobileL {
    color: #fff;
  }
}

/* Police */

@font-face {
  font-family: "MoonTime";
  src: url("../polices/MoonTime-Regular.ttf") format("truetype"),
    url("../polices/MoonTime-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noteworthy Light";
  src: url("../fonts/Noteworthy-Lt.woff") format("woff");
}
