.container {
  margin-top: 50px;
  h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 20px;
    font-size: 2rem;
  }
  select {
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
    color: var(--gray);
    cursor: pointer;
    display: block;
    margin: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
      background-color: var(--primary-color);
      color: #ffffff;
      text-align: left;
    }

    th,
    td {
      padding: 12px 15px;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid var(--primary-color);
    }
    p {
      margin: 0;
    }
  }
}
